@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=PT+Sans+Narrow&family=Poppins:ital,wght@0,100;1,400&family=Roboto+Condensed:ital@1&family=Signika+Negative:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: PT Sans Narrow;
}
